<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Росс Моторс - Нижний Тагил - Гарантии</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <style>
    body {
        opacity: 0;
        overflow-x: hidden;
    }

    html {
        background-color: #fff;
    }
    </style>
</head>

<body>
    <header class="main-head">
        <div class="container-fluid">
            <div class="row">
                <div class="mnu-line clearfix">
                    <div class="col-md-3 col-md-offset-1">
                        <a href="#" class="logo"><img src="img/logo.svg" alt=""></a>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="work-time"><i class="fa fa-clock-o" aria-hidden="true"></i> Часы работы: с 9:00 до 21:00</div>
                        <div class="phone">
                            <div class="phone-1"><i class="fa fa-mobile" aria-hidden="true"></i> +7 (3435) 499-330</div>
                            <div class="phone-1"><i class="fa fa-mobile" aria-hidden="true"></i> +7 (922) 17-71-979</div>
                        </div>
                        <div class="adress-nt">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> г. Нижний Тагил, ул. М. Горького, 41
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <nav class="main-mnu main-mnu-bg hidden-md hidden-sm hidden-xs">
                            <ul>
                                <li class="activ"><a href="index.html">Главная</a></li>
                                <li><a href="#">Прайс-лист</a>
                                    <ul>
                                        <li><img src="img/emblem/hyundai.png" alt="" class="emblem"><a href="price-hyundai.html">Hyundai</a></li>
                                        <li><img src="img/emblem/kia.png" alt="" class="emblem"><a href="price-kia.html">Kia</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">О нас</a></li>
                                <li><a href="#">Наши гарантии</a></li>
                                <li id="app-callback4">
                                    <v-dialog-menu-a name_form="Запись на прием">
                                        <callback></callback>
                                    </v-dialog-menu-a>
                                    <!--a href="#">Запись на прием</a-->
                                </li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Онлайн оплата</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- section price  -->
    <section class="guarantee">
        <div class="container">
            
            <div class="row">
                <div class="cdl-lg-12 col-md-12 col-sm-12 col-sx-12">
                    
<h1>Гарантии</h1>


                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
</div>
<div class="col-md-10"><h2>МЫ НЕ БОИМСЯ ДАВАТЬ 
ГАРАНТИЮ</h2>
</div>
<div class="col-md-12"><img src="img/guaranteesStamp.png" alt=""></div>





Это значит, что Вы можете обслуживать совершенно 
новый автомобиль, только что купленный в автосалоне.


Несем полную материальную ответственность за свои рекомендации и произведенный ремонт

                </div>
            </div>
        </div>
    </section>
    <!-- end -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>РОСС МОТОРС</h2>
                    <p>Наш адрес: Нижний Тагил, М.Горького 41</p>
                    <a href="https://vk.com/rossmotors"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">главная</a></li>
                        <li><a href="#">прайс-лист</a></li>
                        <li><a href="#">о нас</a></li>
                        <li><a href="#">наши гарантии</a></li>
                        <li><a href="#">запись на прием</a></li>
                        <li><a href="#">контакты</a></li>
                        <li><a href="#">онлайн оплата</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="phone">
                        <div class="phone-1"><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:+73435499330">+7 (3435) 499-330</a></div>
                        <div class="phone-1"><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:+79221771979">+7 (922) 17-71-979</a></div>
                    </div>
                    <!-- <a href="" class="button-black" id="show-modal" @click="showModal = true">заказать звонок</a> -->
                    <!-- <p class="button-black" id="show-modal" @click="showModal = true">заказать звонок</p> -->
                    <div class="wrap-f" class="forms-wrap">
                        <div id="app-callback2">
                            <!--пример как используется четвёртая модальная форма -->
                            <v-dialog button_text="Записаться" button_style="button-black">
                                <callback></callback>
                            </v-dialog>
                            <!--пример как используется вторая модальная форма -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/x-template" id="grid-template">
        <table>
            <thead>
                <tr>
                    <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                        {{ key | capitalize }}
                        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in filteredData">
                    <td v-for="key in columns">
                        {{entry[key]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </script>
    <link rel="stylesheet" href="css/main.min.css">
    <script src="js/scripts.min.js"></script>
</body>

</html>