<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Росс Моторс - Нижний Тагил</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <style>
    body {
        opacity: 0;
        overflow-x: hidden;
    }

    html {
        background-color: #fff;
    }
    </style>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1c0a183e56a02e4ab25596c0b83981cb53f51409a768e822808f004007538ce0&amp;width=100%25&amp;height=420&amp;lang=ru_RU&amp;scroll=false&amp;id=ya-maps">
    </script>
</head>

<body>
    <header class="main-head">
        <div class="container-fluid">
            <div class="row">
                <div class="mnu-line clearfix">
                    <div class="col-md-3 col-md-offset-1">
                        <a href="#" class="logo"><img src="img/logo.svg" alt=""></a>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="work-time"><i class="fa fa-clock-o" aria-hidden="true"></i> Часы работы: с 9:00 до 21:00</div>
                        <div class="phone">
                            <div class="phone-1"><i class="fa fa-mobile" aria-hidden="true"></i> +7 (3435) 499-330</div>
                            <div class="phone-1"><i class="fa fa-mobile" aria-hidden="true"></i> +7 (922) 17-71-979</div>
                        </div>
                        <div class="adress-nt">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> г. Нижний Тагил, ул. М. Горького, 41
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <nav class="main-mnu main-mnu-bg hidden-md hidden-sm hidden-xs">
                            <ul>
                                <li class="activ"><a href="#">Главная</a></li>
                                <li><a href="price.html">Прайс-лист</a></li>
                                <li><a href="#">О нас</a></li>
                                <li><a href="#">Наши гарантии</a></li>
                                <li id="app-callback4">
                                    <v-dialog-menu-a name_form="Запись на прием">
                                        <callback></callback>
                                    </v-dialog-menu-a>
                                    <!--a href="#">Запись на прием</a-->
                                </li>
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Онлайн оплата</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-content clearfix">
            <div class="container">
                <div class="row">
                    <!-- строка1 -->
                    <!-- заголовок h1 -->
                    <div class="col-md-10 col-sm-12 col-xs-12">
                        <h1 class="">Техобслуживание и ремонт</h1>
                    </div>
                    <!-- end заголовок h1 -->
                    <div class="col-md-2">
                    </div>
                </div>
                <!-- end строка1 -->
                <div class="row">
                    <!-- строка2 -->
                    <!-- f1 -->
                    <div class="contaiter">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="logo-brands">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="container">
                                                    <div class="row">
                                                        <!-- строка логотипы большие -->
                                                        <div class="col-md-6 col-sm-12 col-sx-12">
                                                            <div class="wrap-img">
                                                                <img src="img/emblem/kia.png" alt="" class="emblem-big">
                                                                <img src="img/emblem/hyundai.png" alt="" class="emblem-big">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end строка логотипы большие -->
                                                    <div class="row">
                                                        <!-- строка логотипы малые -->
                                                        <div class="col-md-6 col-sm-12 col-sx-12">
                                                            <div class="wrap-img">
                                                                <!-- логотипы малые -->
                                                                <img src="img/emblem/10.png" alt="" class="emblem">
                                                                <img src="img/emblem/15.png" alt="" class="emblem">
                                                                <img src="img/emblem/17.png" alt="" class="emblem">
                                                                <img src="img/emblem/18.png" alt="" class="emblem">
                                                                <img src="img/emblem/19.png" alt="" class="emblem">
                                                                <img src="img/emblem/22.png" alt="" class="emblem">
                                                                <img src="img/emblem/27.png" alt="" class="emblem">
                                                                <img src="img/emblem/29.png" alt="" class="emblem">
                                                                <img src="img/emblem/32.png" alt="" class="emblem">
                                                                <img src="img/emblem/43.png" alt="" class="emblem">
                                                            </div>
                                                            <!-- end логотипы малые -->
                                                        </div>
                                                    </div>
                                                    <!-- end строка логотипы малые -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end f1 -->
                </div>
                <!-- end строка2 -->
                <div class="row">
                    <!-- строка3 -->
                    <!-- кнопка и машинка-->
                    <div class="container clearfix">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <div class="btn-wrap">
                                    <!--a href="#" class="button">Записаться</a-->
                                    <div class="wrap-f forms-wrap">
                                        <div id="app-callback1">
                                            <!--форма и кнопка заказать обратный звонок -->
                                            <v-dialog button_text="Записаться" button_style="button">
                                                <callback></callback>
                                            </v-dialog>
                                            <!-- end форма и кнопка заказать обратный звонок -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 hidden-sm hidden-xs">
                                <div class="car-wrap">
                                    <img src="img/2car.png" alt="" class="car2 img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end кнопка и машинка-->
                    <div class="row clearfix">
                        <div class="col-md-6 hidden-sm hidden-xs">
                            <div class="garant">С сохранением гарантии у дилера
                                <br>Бесплатная программа "Помощь на дорогах"</div>
                        </div>
                    </div>
                </div>
                <!-- end строка3 -->
            </div>
        </div>
    </header>
    <!-- section raschet  -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="items-left">
                        <div class="wrap-f">
                            <div id="form-calculation-to">
                                <v-dialog-a name_form="ОНЛАЙН РАСЧЕТ <br/> СТОИМОСТИ ПЛАНОВОГО ТО">
                                    <h4>ОН-ЛАЙН РАСЧЕТ СТОИМОСТИ ПЛАНОВОГО ТО</h4>
                                    <p>Спасибо, что выбрали нас!</p>
                                    <form>
                                        <div class="dropdown">
                                            <span>Марку*:</span>
                                            <select v-model="selectedMark">
                                                <option value="">Укажите марку</option>
                                                <option v-for="(val_obj,val) in this.Marks" :value="val">{{val}}</option>
                                            </select>
                                        </div>
                                        <div class="dropdown">
                                            <span>Модель*:</span>
                                            <select :disabled="aMarks.length == 0" v-model="selectedModel">
                                                <option value="">Укажите модель</option>
                                                <option v-for="val in this.aMarks">{{val}}</option>
                                            </select>
                                        </div>
                                        <div class="dropdown">
                                            Пробег*:
                                            <select :disabled="aModel.length == 0" v-model="selectedMileage">
                                                <option value="">Укажите пробег</option>
                                                <option v-for="val in this.aModel">{{val}}</option>
                                            </select>
                                        </div>
                                        <input type="submit" value="Отправить" v-on:click.prevent ="onClick" :disabled="aModel.length == 0 || selectedMileage == ''" />
                                    </form>
                                </v-dialog-a>
                            </div>
                        </div>
                        <div class="wrap-f">
                            <div id="form-calculation-bodywork">
                                <v-dialog-a name_form="ОН-ЛАЙН РАСЧЕТ <br/> СТОИМОСТИ КУЗОВНОГО РЕМОНТА">
                                    <calculation-bodywork></calculation-bodywork>
                                </v-dialog-a>
                            </div>
                        </div>
                        <!--<a href="#myModal1" type="submit" data-toggle="modal">
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>ОНЛАЙН РАСЧЕТ СТОИМОСТИ<br>ПЛАНОВОГО ТО</h3>
                                </div>
                            </div>
                        </a>
                        <a href="#myModal2" type="submit" data-toggle="modal">
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>ОН-ЛАЙН РАСЧЕТ СТОИМОСТИ<br>КУЗОВНОГО РЕМОНТА</h3>
                                </div>
                            </div>
                        </a>-->
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <div class="items-left">
                        <div class="wrap-f">
                            <div id="form-calculation-locksmith-repair">
                                <v-dialog-a name_form="ОН-ЛАЙН РАСЧЕТ <br/> СТОИМОСТИ СЛЕСАРНОГО РЕМОНТА">
                                    <calculation-locksmith-repair></calculation-locksmith-repair>
                                </v-dialog-a>
                            </div>
                        </div>
                        <div class="wrap-f">
                            <div id="form-calculation-zip-warehouse">
                                <v-dialog-a name_form="ОН-ЛАЙН РАСЧЕТ СТОИМОСТИ <br/> ЗАПЧАСТЕЙ И НАЛИЧИЕ НА СКЛАДЕ">
                                    <calculation-zip-warehouse></calculation-zip-warehouse>
                                </v-dialog-a>
                            </div>
                        </div>
                        <!--a href="#myModal3" type="submit" data-toggle="modal">
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>ОН-ЛАЙН РАСЧЕТ СТОИМОСТИ<br>СЛЕСАРНОГО РЕМОНТА</h3>
                                </div>
                            </div>
                        </a>
                        <a href="#myModal4" type="submit" data-toggle="modal">
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>ОН-ЛАЙН РАСЧЕТ СТОИМОСТИ<br>ЗАПЧАСТЕЙ И НАЛИЧИЕ НА СКЛАДЕ</h3>
                                </div>
                            </div>
                        </a-->
                    </div>
                </div>
            </div>
        </div>
     </section>
        <!-- end -->
        <section class="rm-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Центр технического обслуживания</h2>
                        <span class="ross"><p>«РОСС МОТОРС»</p></span>
                        <p>основан в 2009 году
                            <br>предлагает широкий спектр услуг
                            <br> по обслуживанию и ремонту автомобилей</p>
                        <div class="col-md-12">
                            <div class="wrap-f forms-wrap">
                                <div id="app-callback3">
                                    <!--форма и кнопка заказать обратный звонок -->
                                    <v-dialog button_text="Записаться на обслуживание и ремонт" button_style="button">
                                        <callback></callback>
                                    </v-dialog>
                                    <!-- end форма и кнопка заказать обратный звонок -->
                                </div>
                            </div>
                            <!--a href="#" class="button">Записаться на обслуживание и ремонт</a-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="service-s">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-itemz">
                            <img src="img/service/s01.png" alt="">
                            <h3>Двигатель</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-itemz">
                            <img src="img/service/s02.png" alt="">
                            <h3>Кондиционер</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-itemz">
                            <img src="img/service/s03.png" alt="">
                            <h3>Трансмиссия</h3></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-itemz">
                            <img src="img/service/s04.png" alt="">
                            <h3>Выхлопная<br>система</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-itemz">
                            <img src="img/service/s05.png" alt="">
                            <h3>Рулевое<br>управление</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="service-itemz">
                            <img src="img/service/s06.png" alt="">
                            <h3>Кузовной<br>ремонт</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="service-itemz">
                                <img src="img/service/s07.png" alt="">
                                <h3>Подвеска</h3>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="service-itemz">
                                <img src="img/service/s08.png" alt="">
                                <h3>Тормозная<br>система</h3>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="service-itemz">
                                <img src="img/service/s09.png" alt="">
                                <h3>Автоэлектрик</h3>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="service-itemz">
                                <img src="img/service/s10.png" alt="">
                                <h3>Система<br>охлаждения</h3>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="service-itemz">
                                <img src="img/service/s11.png" alt="">
                                <h3>Шиномонтаж</h3>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="service-itemz">
                                <img src="img/service/s12.png" alt="">
                                <h3>Автозапчасти</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="best-s">
            <div class="container">
                <h2>Все то, чтобы считаться лучшими:</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="items-left">
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>Полный спектр услуг</h3>
                                </div>
                            </div>
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>Современное диагностическое оборудование</h3>
                                </div>
                            </div>
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-wrench" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>Высокая квалификация мастеров</h3>
                                </div>
                            </div>
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-automobile" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>Большая вместимость боксов</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="items-left">
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <!-- fa-wpforms -->
                                    <span class="icon-wrap"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>Статус сертифицированного техцентра</h3>
                                </div>
                            </div>
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>Скидки постоянным клиентам</h3>
                                </div>
                            </div>
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-database" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>Демократичные цены</h3>
                                </div>
                            </div>
                            <div class="section-class-item">
                                <div class="item-icon text-left">
                                    <span class="icon-wrap"><i class="fa fa-coffee" aria-hidden="true"></i></span>
                                </div>
                                <div class="item-text text-left">
                                    <h3>Зона отдыха</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="doverie">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>А можно ли нам доверять:</h2>
                        <div class="txt-wrap">
                            <p><span>9 лет ремонтируем эти марки и знаем о них все!</span> Задавайте любые вопросы — рады будем ответить и помочь вам! Исправляем чужие ошибки! Беремся за ремонт даже тогда, когда все отказываются Вам помочь.
                            </p>
                            <p>
                                <span>Гарантия точно согласованной с вами цены!</span> Цены точно как на сайте. Не производим никаких дополнительных работ без Вашего согласия.
                            </p>
                            <p>
                                <span>По вашему желанию вы можете находиться в ремзоне, наблюдать за ремонтом и задавать любые вопросы мастеру!</span> Вы можете пригласить своего специалиста и оценить качество выполненных работ.
                            </p>
                            <p>
                                <span>Производим ремонт точно в срок, оговоренный с вами!</span> В противном случае мы заплатим штраф!
                            </p>
                            <p>
                                <span>На ваш выбор всегда оригинальные и неоригинальные запчасти!</span> Мы всё расскажем и покажем – а Вы сделаете свой выбор.
                            </p>
                            <p>
                                <span>Мы с самого начала ведём компьютерный учет истории ремонта вашего а/м!</span> Вы получаете на руки заказ-наряд, кассовый чек, гарантийный талон.
                            </p>
                            <p>
                                <span>Специальное дилерское оборудование!</span> Наше оборудование позволяет делать то – что не под силу дилерам. Все наши работы сертифицированы. Мастер, который обслуживал Ваш автомобиль всегда будет с Вами на связи.
                            </p>
                            <p>
                                <span>Даём увеличенную гарантию на весь произведенный ремонт и запчасти!</span> В случае не качественного ремонта гарантируем возврат денежных средств.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide-s">
            <div class="container-fluid">
                <div class="row">
                    <div id="vueapp">
                        <carousel-3d :width="300" :height="380" :controls-visible="true" :controls-prev-html="'&#10092;'" :controls-next-html="'&#10093;'" :controls-width="30" :controls-height="60" :count="slides.length">
                            <slide v-for="(slide, i) in slides" :index="i">
                                <img v-bind:src="slide.url">
                            </slide>
                        </carousel-3d>
                    </div>
                </div>
            </div>
        </section>
        <div class="line"></div>
        <section class="why-we">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Почему мы:</h2>
                        <p>
                            Наш центр оснащен самым современным оборудованием, соответствующим самым высоким мировым стандартам. Одновременно может обслуживать до 10 автомобилей.
                            <br>
                            <br> Склад запасных частей позволяет поддерживать наличие широкого ассортимента запасных частей и аксессуаров, что в свою очередь обеспечивает возможность проведения ремонта и технического обслуживания автомобилей в самые короткие сроки.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="ya-map">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Как нас найти</h2>
                    </div>
                </div>
            </div>
            <div class="map-wrap">
                <div id="ya-maps" </div>
                </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>РОСС МОТОРС</h2>
                        <p>Наш адрес: Нижний Тагил, М.Горького 41</p>
                        <a href="https://vk.com/rossmotors"><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a href="#">главная</a></li>
                            <li><a href="#">прайс-лист</a></li>
                            <li><a href="#">о нас</a></li>
                            <li><a href="#">наши гарантии</a></li>
                            <li><a href="#">запись на прием</a></li>
                            <li><a href="#">контакты</a></li>
                            <li><a href="#">онлайн оплата</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="phone">
                            <div class="phone-1"><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:+73435499330">+7 (3435) 499-330</a></div>
                            <div class="phone-1"><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:+79221771979">+7 (922) 17-71-979</a></div>
                        </div>
                        <!-- <a href="" class="button-black" id="show-modal" @click="showModal = true">заказать звонок</a> -->
                        <!-- <p class="button-black" id="show-modal" @click="showModal = true">заказать звонок</p> -->
                        <div class="wrap-f" class="forms-wrap">
                            <div id="app-callback2">
                                <!--пример как используется четвёртая модальная форма -->
                                <v-dialog button_text="Записаться" button_style="button-black">
                                    <callback></callback>
                                </v-dialog>
                                <!--пример как используется вторая модальная форма -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <template id="dialog-template">
            <div class="MainDialog ">
                <div class="Dialog" v-show="active">
                    <div class="MFOverlay"></div>
                    <div class="MFContent" v-show="active">
                        <p class="close" @click="close()"></p>
                        <slot></slot>
                    </div>
                </div>
                <p v-bind:class="button_style" id="show-modal" @click="open()">{{button_text}}</p>
            </div>
        </template>
        <template id="dialog-template-menu-a">
            <div class="MainDialog ">
                <div class="Dialog" v-show="active">
                    <div class="MFOverlay"></div>
                    <div class="MFContent" v-show="active">
                        <p class="close" @click="close()"></p>
                        <slot></slot>
                    </div>
                </div>
                <a href="#" id="show-modal" @click="open()">{{name_form}}</a>
                <!--p v-bind:class="button_style" id="show-modal" @click="open()">{{button_text}}</p-->
            </div>
        </template>
        <template id="dialog-template-a">
            <div class="MainDialog ">
                <div class="Dialog" v-show="active">
                    <div class="MFOverlay"></div>
                    <div class="MFContent" v-show="active">
                        <p class="close" @click="close()"></p>
                        <slot></slot>
                    </div>
                </div>
                <a id="show-modal" @click="open()">
                    <div class="section-class-item">
                        <div class="item-icon text-left">
                            <span class="icon-wrap"><i class="fa fa-calculator" aria-hidden="true"></i></span>
                        </div>
                        <div class="item-text text-left">
                            <h3 v-html = "name_form"></h3>
                        </div>
                    </div>
                </a>
                <!--p class="button-black" id="show-modal"@click="open()">{{button_text}}</p-->
            </div>
        </template>
        <template id="callback-template">
            <div>
                <h4>Записаться</h4>
                <p>Спасибо, что выбрали нас!
                    <br/>
                    <form>
                        Имя
                        <input type="text" id="InputName" name="name" placeholder="Ваше Имя:" v-model="form.IName" /> Телефон*:
                        <input type="text" v-mask="'+N(NNN)NN-NN-NNN'" id="InputPhone" name="phone" placeholder="Телефон*:" v-model="form.IPhone" />
                        <!--spam v-show="$v.form.IPhone.required && !$v.form.IPhone.minLength" class="red">Укажите номер телефона!</br></spam-->
                        Укажите вашу эл.почту
                        <input type="text" id="InputName" name="name" placeholder="Эл.почта" v-model="form.IMail" />
                        <!--spam v-show="!$v.form.IMail.email" class="red">Корректно введите эл.почту!</br></spam-->
                        <label><span class="red">*</span>– обязательные поля.
                        </label>
                        </br>
                        <input type="checkbox" id="checkboxSuccess" v-model="form.chekedBS" /> Отправляя форму вы соглашаетесь </br> на обработку <a  href="./personaldata.html" class="link" target="_blank">персональных данных</a>
                        <input type="submit" value="Заказать звонок" v-on:click.prevent="onClick" :disabled="form.chekedBS == false" />
                        <!-- || $v.form.IMail.$invalid == true || (!$v.form.IPhone.required || !$v.form.IPhone.minLength)"-->
                    </form>
            </div>
        </template>
        <!--template id = "calculation-to-template">
        <div>
        
    </div>
    </template-->
        <template id="calculation-bodywork-template">
            <div>
                <h4>ОН-ЛАЙН РАСЧЕТ СТОИМОСТИ КУЗОВНОГО РЕМОНТА</h4>
                <p>Вам достаточно сфотографировать повреждения своего а/м и выслать фотографии нам!</p>
                <!--action="/file-upload" method="post"-->
                <form>
                    Имя*
                    <input type="text" id="InputName" name="name" placeholder="Ваше Имя*:" v-model="form.IName" /> Телефон*:
                    <input type="text" v-mask="'+N(NNN)NN-NN-NNN'" id="InputPhone" name="phone" placeholder="Телефон*:" v-model="form.IPhone" /> Укажите вашу эл.почту
                    <input type="text" id="InputName" name="name" placeholder="Эл.почта" v-model="form.IMail" /> Загрузить фото:
                    <input ref="fileInputs" type="file" name="file" multiple />
                    </br>Описание повреждений:
                    <textarea type="comment" id="inputMessage" name="message" rows="3" placeholder="Описание повреждений" v-model="form.IMessage"></textarea>
                    <label><span class="red">*</span>– обязательные поля. Расчет Вы получите в течение 15 минут.</label>
                    </br>
                    <input type="checkbox" id="checkboxSuccess" v-model="form.chekedBS" /> Отправляя форму вы соглашаетесь </br> на обработку <a class="link" href="./personaldata.html" target="_blank">персональных данных</a>
                    <input type="submit" value="Отправить" v-on:click.prevent="onClick" :disabled="form.chekedBS == false || form.IName == '' || form.IPhone == ''" />
                </form>
            </div>
        </template>
        <template id="calculation-locksmith-repair-template">
            <div>
                <h4>ОН-ЛАЙН РАСЧЕТ СТОИМОСТИ СЛЕСАРНОГО РЕМОНТА</h4>
                <p>Спасибо, что выбрали нас!</p>
                <form>
                    Имя*
                    <input type="text" id="InputName" name="name" placeholder="Ваше Имя*:" v-model="form.IName" /> Телефон*:
                    <input type="text" v-mask="'+N(NNN)NN-NN-NNN'" id="InputPhone" name="phone" placeholder="Телефон*:" v-model="form.IPhone" /> Виды запчастей*:
                    <textarea type="comment" id="inputMessage" name="message" rows="3" placeholder="Заполните это поле. Пример: Сколько стоит ремонт рулевой рейки?" v-model="form.IMessage"></textarea>
                    <label><span class="red">*</span>– обязательные поля. Расчет Вы получите в течение 15 минут.</label>
                    </br>
                    <input type="checkbox" id="checkboxSuccess" v-model="form.chekedBS" /> Отправляя форму вы соглашаетесь </br> на обработку <a class="link" href="./personaldata.html" target="_blank">персональных данных</a>
                    <input type="submit" value="Отправить" v-on:click.prevent="onClick" :disabled="form.chekedBS == false || form.IName == '' || form.IPhone == '' || form.IMessage == ''" />
                </form>
            </div>
        </template>
        <template id="calculation-zip-warehouse-template">
            <div>
                <h4>ОН-ЛАЙН РАСЧЕТ СТОИМОСТИ ЗАПЧАСТЕЙ И НАЛИЧИЕ НА СКЛАДЕ</h4>
                <p>Спасибо, что выбрали нас!</p>
                <form id="form4">
                    <p>Имя*</p>
                    <input type="text" id="InputName" name="name" placeholder="Ваше Имя*:" v-model="form.IName" /> Телефон*:
                    <input type="text" v-mask="'+N(NNN)NN-NN-NNN'" id="InputPhone" name="phone" placeholder="Телефон*:" v-model="form.IPhone" /> VIN-код
                    <input v-mask="'XXXXXXXXXXXXXXXXX'" type="text" id="InputVINcode" name="vincode" placeholder="VIN-код:" v-model="form.IVINcode" /> Список запчастей*:
                    <textarea type="comment" id="inputMessage" name="message" rows="3" placeholder="Заполните это поле. Пример: Сколько стоят запчасти?" v-model="form.IMessage"></textarea>
                    <label><span class="red">*</span>– обязательные поля.
                    </label>
                    </br>
                    <input type="checkbox" id="checkboxSuccess" v-model="form.chekedBS" /> Отправляя форму вы соглашаетесь </br> на обработку <a class="link" href="./personaldata.html" target="_blank">персональных данных</a>
                    <input type="submit" value="Отправить" v-on:click.prevent="onClick" :disabled="form.chekedBS == false" />
                </form>
            </div>
        </template>
        <link rel="stylesheet" href="css/main.min.css">
        <script src="js/scripts.min.js"></script>
</body>

</html>